!!!5
html
  head
    title Honey Pusher
    script(src="http://honey.hunantv.com/src/config.js")
    script(src="http://honey.hunantv.com/src/honey.source.js")
  body
    h1 Honey Pusher 2
    script
      online = 0;
      honey.go('lib_jquery, lib_socket, mod_pusher', function() {

        honey.pusher({
          socket: '#{ pusher }',
          data: {project: 'ihunantv', key: '2', channels: 'server, tv'}
        }, function(socket) {
            
          socket.on('subscribe', function(msg) {
            //console.log(msg); 
            $('<p />').html(msg.channel +'send a msg:'+ msg.msg).appendTo('body');
          });

          socket.on('msg', function(msg) {
            $('<p />').html(msg.channel +'send a msg:'+ msg.msg);
            //console.log(msg); 
          });

        }); 

      });
