!!!5
html
  head
    title Honey Pusher
    //script(src="http://honey.hunantv.com/i/config.js")
    script(src="http://honey.hunantv.com/i/js/honey.source.js")
  body
    h1 Honey Pusher Demo (UID: #{ id })
    script
      online = 0;
      honey.go('lib_jquery, lib_socket, mod_pusher', function() {
        honey.pusher({
            socket: '#{ pusher }',
            data: {project: 'ihunantv', key: '#{ id }', channels: 'server, movie, music'}
          }, function(socket) {
            
            socket.on('subscribe', function(msg) {
              //$('<p />').html(msg.channel +'send a msg:'+ msg.msg);
              $('<p />').html(msg.channel +'send a msg:'+ msg.msg).appendTo('body');
              //console.log(msg); 
            });

            socket.on('msg', function(msg) {
              $('<p />').html(msg.channel +'send a msg:'+ msg.msg);
            });

        });
      });
