!!!5
html
  head
    title Honey Pusher
    //script(src="http://honey.hunantv.com/i/config.js")
    script(src="http://honey.hunantv.com/i/js/honey.source.js")
  body
    h1 Honey Pusher Onlines
    h3 Online users
    #users 
    h3 logs
    #logs
    script
      online = 0;
      honey.go('lib_jquery, lib_socket', function() {
        var socket = io.connect('http://honey.hunantv.com:8888');
        socket.on('add_user', function(_data) {
            $('#users').html(_data.onlines.join(','));
            $('<p />').html(_data.current +' is online.').appendTo('#logs'); 
        }); 
        socket.on('remove_user', function(_data) {
            $('#users').html(_data.onlines.join(','));
            $('<p />').html(_data.current +' is offline.')
              .css('color', 'red').appendTo('#logs'); 
        }); 
        socket.on('connect', function() {
          $('<p />').html(socket.socket.sessionid +' is online.[self]').appendTo('body'); 
          //console.log(socket.socket.sessionid);
        });

      });
